<%- partial('_partial/bg-cover') %>

<main class="content">

    <%- partial('_widget/category-cloud') %>

    <% if (site.categories && site.categories.length > 0) { %>
    <%- partial('_widget/category-radar') %>
    <% } %>
	
	<%- partial('_widget/category-list') %>
	
	<%- partial('_widget/category-mind') %>
</main>
